//
// LET IT SNOW
// CSS SNOWFALL ANIMATION
// LESS AND HTML BY @wUFr
//


// BASIC BODY STYLE
// you dont need to use this
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	overflow: hidden;
	transform: translateZ(0);
	
	// I KNOW, THIS SHOULD BE IN MIXIN, BUT I WONT USE IT ANYWHERE ELSE, I PROMISE
	& when (@snow_ms_prefixes = true){
		display: -ms-flexbox;
	}
	& when (@snow_webkit_prefixes = true){
		display: -webkit-flex;
	}
	display: flex;

	& when (@snow_webkit_prefixes = true){
		-webkit-flex-direction: row;
	}
	& when (@snow_ms_prefixes = true){
		-ms-flex-direction: row;
	}
	flex-direction: row;

	& when (@snow_webkit_prefixes = true){
		-webkit-flex-wrap: nowrap;
	}
	& when (@snow_ms_prefixes = true){
		-ms-flex-wrap: nowrap;
	}
	flex-wrap: nowrap;

	& when (@snow_webkit_prefixes = true){
		-webkit-justify-content: center;
	}
	& when (@snow_ms_prefixes = true){
		-ms-flex-pack: center;
	}
	justify-content: center;

	& when (@snow_webkit_prefixes = true){
		-webkit-align-content: stretch;
	}
	& when (@snow_ms_prefixes = true){
		-ms-flex-line-pack: stretch;
	}
	align-content: stretch;

	& when (@snow_webkit_prefixes = true){
		-webkit-align-items: center;
	}
	& when (@snow_ms_prefixes = true){
		-ms-flex-align: center;
	}
	align-items: center;

	position: relative;
	padding-bottom: 20%;
	background: rgb(154,195,213);

	& when (@snow_webkit_prefixes = true){
		background: -webkit-linear-gradient(top,rgba(154,195,213,1) 0%,rgba(127,190,220,1) 100%);
	}

	& when (@snow_moz_prefixes = true){
		background: -moz-linear-gradient(top,rgba(154,195,213,1) 0%,rgba(127,190,220,1) 100%);
	}

	background: linear-gradient(to bottom,rgba(154,195,213,1) 0%,rgba(127,190,220,1) 100%);
	background-size: cover;
	font-family: sans-serif;
	user-select: none;
	cursor: default;

	/*@media (min-width:1200px) and (min-height:600px){
		cursor: none;
	}*/
}




//
// FOREVERYONE LOGO
//
.logo {
	width: 100%;
	text-align: center;

	h1 {
		padding: 0 20px;
		font-family: 'Allura', cursive;
		font-size: 30px;
		font-weight: normal;
		color: white;

		@media (min-width:700px) and (min-height:500px){
			font-size: 40px;
		}

		@media (min-width:1200px) and (min-height:500px){
			font-size: 60px;
		}
	}

	.inside {
		position: relative;
		display: inline-block;
		margin: 0 auto;

		img {
			position: relative;
			display: block;
			margin: 0 auto;
			max-width: 250px;
			max-height: 180px;
			z-index: 40;

			@media (min-width:600px){
				max-width: 400px;
			}

			@media (min-width:1200px){
				max-width: 450px;
			}
		}

		@keyframes ice_falling {
			0% {
				top: 50%;
				left: 50%;
				transform: rotate(0deg);
			}
			100% {
				top: 500%;
				left: 50%;
				transform: rotate(200deg);
			}
		}

		.ice {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: 8px 0 0 -105px;
			width: 20px;
			height: 20px;
			background: url(/img/ice.png) center top no-repeat;
			background-size: contain;
			content: "";
			//border: 1px solid red;

			&.hit {
				animation: ice_falling 3s ease-out 1;
				animation-fill-mode: forwards;
			}

			@media (min-width:600px){
				width: 30px;
				height: 30px;
				margin: 15px 0 0 -166px;
			}

			@media (min-width:1200px){
				margin: 18px 0 0 -184px;
			}
		}
	}
	
	
}


//
// FORREST
//

.forrest {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;


	// LAYERS
	.close {
		position: absolute;
		top: -100px;
		left: -100px;
		right: -100px;
		bottom: -100px;
		z-index: 40;
		background: url(/img/forrest_close.png) center bottom no-repeat;
		background-size: 100% auto;
		pointer-events: none;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
	}

	.front {
		position: absolute;
		top: -50px;
		left: -50px;
		right: -50px;
		bottom: -50px;
		z-index: 30;
		background: url(/img/forrest_front.png) center bottom no-repeat;
		background-size: 100% auto;
		pointer-events: none;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
	}

	.mid {
		position: absolute;
		top: -50px;
		left: -50px;
		right: -50px;
		bottom: -50px;
		z-index: 20;
		background: url(/img/forrest_mid.png) center bottom no-repeat;
		background-size: 100% auto;
		filter: blur(0.5px);
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
	}

	.far {
		position: absolute;
		top: -50px;
		left: -50px;
		right: -50px;
		bottom: -50px;
		z-index: 10;
		background: url(/img/forrest_far.png) center bottom no-repeat;
		background-size: 100% auto;
		filter: blur(1px);
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
	}
}


//
// FOREGROUND SNOW ANIMATION
//
& when (@snow_flake_front_enabled = true){
	@keyframes snowfall_front {
		0% {
			transform: translate3d(0,-1%,0);
			opacity: @snow_flake_front_opacity;
		}
		30% {
			transform: translate3d(30px,30%,0);
			opacity: @snow_flake_front_opacity;
		}
		60% {
			transform: translate3d(-20px,60%,0);
			opacity: @snow_flake_front_opacity;
		}
		100% {
			transform: translate3d(0,99%,0);
			opacity: @snow_flake_front_opacity;
		}
	}

	@keyframes snowfall_front_second {
		0% {
			transform: translate3d(0,-101%,0);
			opacity: @snow_flake_front_opacity;
		}
		30% {
			transform: translate3d(-30px,-70%,0);
			opacity: @snow_flake_front_opacity;
		}
		60% {
			transform: translate3d(20px,-40%,0);
			opacity: @snow_flake_front_opacity;
		}
		100% {
			transform: translate3d(0,-1%,0); // -1% becouse fuck microsoft
			opacity: @snow_flake_front_opacity;
		}
	}

	& when (@snow_webkit_prefixes = true){
		@-webkit-keyframes snowfall_front {
			0% {
				-webkit-transform: translate3d(0,-1%,0);
				opacity: @snow_flake_front_opacity;
			}
			30% {
				-webkit-transform: translate3d(30px,30%,0);
				opacity: @snow_flake_front_opacity;
			}
			60% {
				-webkit-transform: translate3d(-20px,60%,0);
				opacity: @snow_flake_front_opacity;
			}
			100% {
				-webkit-transform: translate3d(0,99%,0);
				opacity: @snow_flake_front_opacity;
			}
		}

		@-webkit-keyframes snowfall_front_second {
			0% {
				-webkit-transform: translate3d(0,-101%,0);
				opacity: @snow_flake_front_opacity;
			}
			30% {
				-webkit-transform: translate3d(-30px,-70%,0);
				opacity: @snow_flake_front_opacity;
			}
			60% {
				-webkit-transform: translate3d(20px,-40%,0);
				opacity: @snow_flake_front_opacity;
			}
			100% {
				-webkit-transform: translate3d(0,-1%,0); // -1% becouse fuck microsoft
				opacity: @snow_flake_front_opacity;
			}
		}
	}

	& when (@snow_moz_prefixes = true){
		@-moz-keyframes snowfall_front {
			0% {
				-moz-transform: translate3d(0,-1%,0);
				opacity: @snow_flake_front_opacity;
			}
			30% {
				-moz-transform: translate3d(30px,30%,0);
				opacity: @snow_flake_front_opacity;
			}
			60% {
				-moz-transform: translate3d(-20px,60%,0);
				opacity: @snow_flake_front_opacity;
			}
			100% {
				-moz-transform: translate3d(0,99%,0);
				opacity: @snow_flake_front_opacity;
			}
		}

		@-moz-keyframes snowfall_front_second {
			0% {
				-moz-transform: translate3d(0,-101%,0);
				opacity: @snow_flake_front_opacity;
			}
			30% {
				-moz-transform: translate3d(-30px,-70%,0);
				opacity: @snow_flake_front_opacity;
			}
			60% {
				-moz-transform: translate3d(20px,-40%,0);
				opacity: @snow_flake_front_opacity;
			}
			100% {
				-moz-transform: translate3d(0,-1%,0); // -1% becouse fuck microsoft
				opacity: @snow_flake_front_opacity;
			}
		}
	}

	& when (@snow_ms_prefixes = true){
		@-ms-keyframes snowfall_front {
			0% {
				-ms-transform: translate3d(0,-1%,0);
				opacity: @snow_flake_front_opacity;
			}
			30% {
				-ms-transform: translate3d(30px,30%,0);
				opacity: @snow_flake_front_opacity;
			}
			60% {
				-ms-transform: translate3d(-20px,60%,0);
				opacity: @snow_flake_front_opacity;
			}
			100% {
				-ms-transform: translate3d(0,99%,0);
				opacity: @snow_flake_front_opacity;
			}
		}

		@-ms-keyframes snowfall_front_second {
			0% {
				-ms-transform: translate3d(0,-101%,0);
				opacity: @snow_flake_front_opacity;
			}
			30% {
				-ms-transform: translate3d(-30px,-70%,0);
				opacity: @snow_flake_front_opacity;
			}
			60% {
				-ms-transform: translate3d(20px,-40%,0);
				opacity: @snow_flake_front_opacity;
			}
			100% {
				-ms-transform: translate3d(0,-1%,0); // -1% becouse fuck microsoft
				opacity: @snow_flake_front_opacity;
			}
		}
	}

	& when (@snow_o_prefixes = true){
		@-o-keyframes snowfall_front {
			0% {
				-o-transform: translate3d(0,-1%,0);
				opacity: @snow_flake_front_opacity;
			}
			30% {
				-o-transform: translate3d(30px,30%,0);
				opacity: @snow_flake_front_opacity;
			}
			60% {
				-o-transform: translate3d(-20px,60%,0);
				opacity: @snow_flake_front_opacity;
			}
			100% {
				-o-transform: translate3d(0,99%,0);
				opacity: @snow_flake_front_opacity;
			}
		}

		@-o-keyframes snowfall_front_second {
			0% {
				-o-transform: translate3d(0,-101%,0);
				opacity: @snow_flake_front_opacity;
			}
			30% {
				-o-transform: translate3d(-30px,-70%,0);
				opacity: @snow_flake_front_opacity;
			}
			60% {
				-o-transform: translate3d(20px,-40%,0);
				opacity: @snow_flake_front_opacity;
			}
			100% {
				-o-transform: translate3d(0,-1%,0); // -1% becouse fuck microsoft
				opacity: @snow_flake_front_opacity;
			}
		}
	}
}


//
// MIDGROUND SNOW ANIMATION
//
& when (@snow_flake_mid_enabled = true){
	@keyframes snowfall_mid {
		0% {
			transform: translate3d(0,-1%,0);
			opacity: @snow_flake_mid_opacity;
		}
		30% {
			transform: translate3d(-15px,30%,0);
			opacity: @snow_flake_mid_opacity;
		}
		60% {
			transform: translate3d(10px,60%,0);
			opacity: @snow_flake_mid_opacity;
		}
		100% {
			transform: translate3d(0,99%,0);
			opacity: @snow_flake_mid_opacity;
		}
	}

	@keyframes snowfall_mid_second {
		0% {
			transform: translate3d(0,-101%,0);
			opacity: @snow_flake_mid_opacity;
		}
		30% {
			transform: translate3d(15px,-70%,0);
			opacity: @snow_flake_mid_opacity;
		}
		60% {
			transform: translate3d(-10px,-40%,0);
			opacity: @snow_flake_mid_opacity;
		}
		100% {
			transform: translate3d(0,-1%,0); // -1% becouse fuck microsoft
			opacity: @snow_flake_mid_opacity;
		}
	}

	& when (@snow_webkit_prefixes = true){
		@-webkit-keyframes snowfall_mid {
			0% {
				-webkit-transform: translate3d(0,-1%,0);
				opacity: @snow_flake_mid_opacity;
			}
			30% {
				-webkit-transform: translate3d(-15px,30%,0);
				opacity: @snow_flake_mid_opacity;
			}
			60% {
				-webkit-transform: translate3d(10px,60%,0);
				opacity: @snow_flake_mid_opacity;
			}
			100% {
				-webkit-transform: translate3d(0,99%,0);
				opacity: @snow_flake_mid_opacity;
			}
		}

		@-webkit-keyframes snowfall_mid_second {
			0% {
				-webkit-transform: translate3d(0,-101%,0);
				opacity: @snow_flake_mid_opacity;
			}
			30% {
				-webkit-transform: translate3d(15px,-70%,0);
				opacity: @snow_flake_mid_opacity;
			}
			60% {
				-webkit-transform: translate3d(-10px,-40%,0);
				opacity: @snow_flake_mid_opacity;
			}
			100% {
				-webkit-transform: translate3d(0,-1%,0); // -1% becouse fuck microsoft
				opacity: @snow_flake_mid_opacity;
			}
		}
	}

	& when (@snow_moz_prefixes = true){
		@-moz-keyframes snowfall_mid {
			0% {
				-moz-transform: translate3d(0,-1%,0);
				opacity: @snow_flake_mid_opacity;
			}
			30% {
				-moz-transform: translate3d(-15px,30%,0);
				opacity: @snow_flake_mid_opacity;
			}
			60% {
				-moz-transform: translate3d(10px,60%,0);
				opacity: @snow_flake_mid_opacity;
			}
			100% {
				-moz-transform: translate3d(0,99%,0);
				opacity: @snow_flake_mid_opacity;
			}
		}

		@-moz-keyframes snowfall_mid_second {
			0% {
				-moz-transform: translate3d(0,-101%,0);
				opacity: @snow_flake_mid_opacity;
			}
			30% {
				-moz-transform: translate3d(15px,-70%,0);
				opacity: @snow_flake_mid_opacity;
			}
			60% {
				-moz-transform: translate3d(-10px,-40%,0);
				opacity: @snow_flake_mid_opacity;
			}
			100% {
				-moz-transform: translate3d(0,-1%,0); // -1% becouse fuck microsoft
				opacity: @snow_flake_mid_opacity;
			}
		}
	}

	& when (@snow_ms_prefixes = true){
		@-ms-keyframes snowfall_mid {
			0% {
				-ms-transform: translate3d(0,-1%,0);
				opacity: @snow_flake_mid_opacity;
			}
			30% {
				-ms-transform: translate3d(-15px,30%,0);
				opacity: @snow_flake_mid_opacity;
			}
			60% {
				-ms-transform: translate3d(10px,60%,0);
				opacity: @snow_flake_mid_opacity;
			}
			100% {
				-ms-transform: translate3d(0,99%,0);
				opacity: @snow_flake_mid_opacity;
			}
		}

		@-ms-keyframes snowfall_mid_second {
			0% {
				-ms-transform: translate3d(0,-101%,0);
				opacity: @snow_flake_mid_opacity;
			}
			30% {
				-ms-transform: translate3d(15px,-70%,0);
				opacity: @snow_flake_mid_opacity;
			}
			60% {
				-ms-transform: translate3d(-10px,-40%,0);
				opacity: @snow_flake_mid_opacity;
			}
			100% {
				-ms-transform: translate3d(0,-1%,0); // -1% becouse fuck microsoft
				opacity: @snow_flake_mid_opacity;
			}
		}
	}

	& when (@snow_o_prefixes = true){
		@-o-keyframes snowfall_mid {
			0% {
				-o-transform: translate3d(0,-1%,0);
				opacity: @snow_flake_mid_opacity;
			}
			30% {
				-o-transform: translate3d(-15px,30%,0);
				opacity: @snow_flake_mid_opacity;
			}
			60% {
				-o-transform: translate3d(10px,60%,0);
				opacity: @snow_flake_mid_opacity;
			}
			100% {
				-o-transform: translate3d(0,100%,0);
				opacity: @snow_flake_mid_opacity;
			}
		}

		@-o-keyframes snowfall_mid_second {
			0% {
				-o-transform: translate3d(0,-101%,0);
				opacity: @snow_flake_mid_opacity;
			}
			30% {
				-o-transform: translate3d(15px,-70%,0);
				opacity: @snow_flake_mid_opacity;
			}
			60% {
				-o-transform: translate3d(-10px,-40%,0);
				opacity: @snow_flake_mid_opacity;
			}
			100% {
				-o-transform: translate3d(0,-1%,0); // -1% becouse fuck microsoft
				opacity: @snow_flake_mid_opacity;
			}
		}
	}
}


//
// BACKGROUND SNOW ANIMATION
//
& when (@snow_flake_back_enabled = true){
	@keyframes snowfall_back {
		0% {
			transform: translate3d(0,-1%,0);
			opacity: @snow_flake_back_opacity;
		}
		30% {
			transform: translate3d(-5px,30%,0);
			opacity: @snow_flake_back_opacity;
		}
		60% {
			transform: translate3d(5px,60%,0);
			opacity: @snow_flake_back_opacity;
		}
		100% {
			transform: translate3d(0,99%,0);
			opacity: @snow_flake_back_opacity;
		}
	}

	@keyframes snowfall_back_second {
		0% {
			transform: translate3d(0,-101%,0);
			opacity: @snow_flake_back_opacity;
		}
		30% {
			transform: translate3d(5px,-70%,0);
			opacity: @snow_flake_back_opacity;
		}
		60% {
			transform: translate3d(-5px,-40%,0);
			opacity: @snow_flake_back_opacity;
		}
		100% {
			transform: translate3d(0,-1%,0);
			opacity: @snow_flake_back_opacity;
		}
	}

	& when (@snow_webkit_prefixes = true){
		@-webkit-keyframes snowfall_back {
			0% {
				-webkit-transform: translate3d(0,-1%,0);
				opacity: @snow_flake_back_opacity;
			}
			30% {
				-webkit-transform: translate3d(-5px,30%,0);
				opacity: @snow_flake_back_opacity;
			}
			60% {
				-webkit-transform: translate3d(5px,60%,0);
				opacity: @snow_flake_back_opacity;
			}
			100% {
				-webkit-transform: translate3d(0,99%,0);
				opacity: @snow_flake_back_opacity;
			}
		}

		@-webkit-keyframes snowfall_back_second {
			0% {
				-webkit-transform: translate3d(0,-101%,0);
				opacity: @snow_flake_back_opacity;
			}
			30% {
				-webkit-transform: translate3d(5px,-70%,0);
				opacity: @snow_flake_back_opacity;
			}
			60% {
				-webkit-transform: translate3d(-5px,-40%,0);
				opacity: @snow_flake_back_opacity;
			}
			100% {
				-webkit-transform: translate3d(0,-1%,0);
				opacity: @snow_flake_back_opacity;
			}
		}
	}

	& when (@snow_moz_prefixes = true){
		@-moz-keyframes snowfall_back {
			0% {
				-moz-transform: translate3d(0,-1%,0);
				opacity: @snow_flake_back_opacity;
			}
			30% {
				-moz-transform: translate3d(-5px,30%,0);
				opacity: @snow_flake_back_opacity;
			}
			60% {
				-moz-transform: translate3d(5px,60%,0);
				opacity: @snow_flake_back_opacity;
			}
			100% {
				-moz-transform: translate3d(0,99%,0);
				opacity: @snow_flake_back_opacity;
			}
		}

		@-moz-keyframes snowfall_back_second {
			0% {
				-moz-transform: translate3d(0,-101%,0);
				opacity: @snow_flake_back_opacity;
			}
			30% {
				-moz-transform: translate3d(5px,-70%,0);
				opacity: @snow_flake_back_opacity;
			}
			60% {
				-moz-transform: translate3d(-5px,-40%,0);
				opacity: @snow_flake_back_opacity;
			}
			100% {
				-moz-transform: translate3d(0,-1%,0);
				opacity: @snow_flake_back_opacity;
			}
		}
	}

	& when (@snow_ms_prefixes = true){
		@-ms-keyframes snowfall_back {
			0% {
				-ms-transform: translate3d(0,-1%,0);
				opacity: @snow_flake_back_opacity;
			}
			30% {
				-ms-transform: translate3d(-5px,30%,0);
				opacity: @snow_flake_back_opacity;
			}
			60% {
				-ms-transform: translate3d(5px,60%,0);
				opacity: @snow_flake_back_opacity;
			}
			100% {
				-ms-transform: translate3d(0,99%,0);
				opacity: @snow_flake_back_opacity;
			}
		}

		@-ms-keyframes snowfall_back_second {
			0% {
				-ms-transform: translate3d(0,-101%,0);
				opacity: @snow_flake_back_opacity;
			}
			30% {
				-ms-transform: translate3d(5px,-70%,0);
				opacity: @snow_flake_back_opacity;
			}
			60% {
				-ms-transform: translate3d(-5px,-40%,0);
				opacity: @snow_flake_back_opacity;
			}
			100% {
				-ms-transform: translate3d(0,-1%,0);
				opacity: @snow_flake_back_opacity;
			}
		}
	}

	& when (@snow_o_prefixes = true){
		@-o-keyframes snowfall_back {
			0% {
				-o-transform: translate3d(0,-1%,0);
				opacity: @snow_flake_back_opacity;
			}
			30% {
				-o-transform: translate3d(-5px,30%,0);
				opacity: @snow_flake_back_opacity;
			}
			60% {
				-o-transform: translate3d(5px,60%,0);
				opacity: @snow_flake_back_opacity;
			}
			100% {
				-o-transform: translate3d(0,99%,0);
				opacity: @snow_flake_back_opacity;
			}
		}

		@-o-keyframes snowfall_back_second {
			0% {
				-o-transform: translate3d(0,-101%,0);
				opacity: @snow_flake_back_opacity;
			}
			30% {
				-o-transform: translate3d(5px,-70%,0);
				opacity: @snow_flake_back_opacity;
			}
			60% {
				-o-transform: translate3d(-5px,-40%,0);
				opacity: @snow_flake_back_opacity;
			}
			100% {
				-o-transform: translate3d(0,-1%,0);
				opacity: @snow_flake_back_opacity;
			}
		}
	}
}

//
// BASIC STYLES
//
.snow_wrapper {
	position: @snow_wrapper_position;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none; // just in case
	overflow: hidden; // no scrollbars

	.snow_front when (@snow_flake_front_enabled = true){
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		user-select: none;
		background: url(@snow_flake_front_image);
		opacity: 0;
		z-index: @snow_flake_front_z-index;

		& when (@snow_webkit_prefixes = true){
			-webkit-animation: snowfall_front @snow_flake_front_timing infinite @snow_flake_front_easing;
			-webkit-transition: @snow_flake_front_transition;
		}

		& when (@snow_moz_prefixes = true){
			-moz-animation: snowfall_front @snow_flake_front_timing infinite @snow_flake_front_easing;
			-moz-transition: @snow_flake_front_transition;
		}

		& when (@snow_ms_prefixes = true){
			-ms-animation: snowfall_front @snow_flake_front_timing infinite @snow_flake_front_easing;
			-ms-transition: @snow_flake_front_transition;
		}

		& when (@snow_o_prefixes = true){
			-o-animation: snowfall_front @snow_flake_front_timing infinite @snow_flake_front_easing;
			-o-transition: @snow_flake_front_transition;
		}

		animation: snowfall_front @snow_flake_front_timing infinite @snow_flake_front_easing;
		transition: @snow_flake_front_transition;

		&.second {
			& when (@snow_webkit_prefixes = true){
				-webkit-animation: snowfall_front_second @snow_flake_front_timing infinite @snow_flake_front_easing;
				-webkit-transition: @snow_flake_front_transition;
			}

			& when (@snow_moz_prefixes = true){
				-moz-animation: snowfall_front_second @snow_flake_front_timing infinite @snow_flake_front_easing;
				-moz-transition: @snow_flake_front_transition;
			}

			& when (@snow_ms_prefixes = true){
				-ms-animation: snowfall_front_second @snow_flake_front_timing infinite @snow_flake_front_easing;
				-ms-transition: @snow_flake_front_transition;
			}

			& when (@snow_o_prefixes = true){
				-o-animation: snowfall_front_second @snow_flake_front_timing infinite @snow_flake_front_easing;
				-o-transition: @snow_flake_front_transition;
			}

			animation: snowfall_front_second @snow_flake_front_timing infinite @snow_flake_front_easing;
			transition: @snow_flake_front_transition;
			z-index: @snow_flake_front_z-index;
		}
	}

	.snow_mid when (@snow_flake_mid_enabled = true) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		user-select: none;
		background: url(@snow_flake_mid_image);
		opacity: 0;
		z-index: @snow_flake_mid_z-index;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);

		& when (@snow_webkit_prefixes = true){
			-webkit-animation: snowfall_mid @snow_flake_mid_timing infinite @snow_flake_mid_easing;
			-webkit-transition: @snow_flake_mid_transition;
		}

		& when (@snow_moz_prefixes = true){
			-moz-animation: snowfall_mid @snow_flake_mid_timing infinite @snow_flake_mid_easing;
			-moz-transition: @snow_flake_mid_transition;
		}

		& when (@snow_ms_prefixes = true){
			-ms-animation: snowfall_mid @snow_flake_mid_timing infinite @snow_flake_mid_easing;
			-ms-transition: @snow_flake_mid_transition;
		}

		& when (@snow_o_prefixes = true){
			-o-animation: snowfall_mid @snow_flake_mid_timing infinite @snow_flake_mid_easing;
			-o-transition: @snow_flake_mid_transition;
		}

		animation: snowfall_mid @snow_flake_mid_timing infinite @snow_flake_mid_easing;
		transition: @snow_flake_mid_transition;

		&.second {
			& when (@snow_webkit_prefixes = true){
				-webkit-animation: snowfall_mid_second @snow_flake_mid_timing infinite @snow_flake_mid_easing;
				-webkit-transition: @snow_flake_mid_transition;
			}

			& when (@snow_moz_prefixes = true){
				-moz-animation: snowfall_mid_second @snow_flake_mid_timing infinite @snow_flake_mid_easing;
				-moz-transition: @snow_flake_mid_transition;
			}

			& when (@snow_ms_prefixes = true){
				-ms-animation: snowfall_mid_second @snow_flake_mid_timing infinite @snow_flake_mid_easing;
				-ms-transition: @snow_flake_mid_transition;
			}

			& when (@snow_o_prefixes = true){
				-o-animation: snowfall_mid_second @snow_flake_mid_timing infinite @snow_flake_mid_easing;
				-o-transition: @snow_flake_mid_transition;
			}
			
			animation: snowfall_mid_second @snow_flake_mid_timing infinite @snow_flake_mid_easing;
			transition: @snow_flake_mid_transition;
			z-index: @snow_flake_mid_z-index;
		}
	}

	.snow_back when (@snow_flake_back_enabled = true) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		user-select: none;
		background: url(@snow_flake_back_image);
		opacity: 0;
		z-index: @snow_flake_back_z-index;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);

		& when (@snow_webkit_prefixes = true){
			-webkit-animation: snowfall_back @snow_flake_back_timing infinite @snow_flake_back_easing;
			-webkit-transition: @snow_flake_back_transition;
		}

		& when (@snow_moz_prefixes = true){
			-moz-animation: snowfall_back @snow_flake_back_timing infinite @snow_flake_back_easing;
			-moz-transition: @snow_flake_back_transition;
		}

		& when (@snow_ms_prefixes = true){
			-ms-animation: snowfall_back @snow_flake_back_timing infinite @snow_flake_back_easing;
			-ms-transition: @snow_flake_back_transition;
		}

		& when (@snow_o_prefixes = true){
			-o-animation: snowfall_back @snow_flake_back_timing infinite @snow_flake_back_easing;
			-o-transition: @snow_flake_back_transition;
		}

		animation: snowfall_back @snow_flake_back_timing infinite @snow_flake_back_easing;
		transition: @snow_flake_back_transition;

		&.second {
			& when (@snow_webkit_prefixes = true){
				-webkit-animation: snowfall_back_second @snow_flake_back_timing infinite @snow_flake_back_easing;
				-webkit-transition: @snow_flake_back_transition;
			}

			& when (@snow_moz_prefixes = true){
				-moz-animation: snowfall_back_second @snow_flake_back_timing infinite @snow_flake_back_easing;
				-moz-transition: @snow_flake_back_transition;
			}

			& when (@snow_ms_prefixes = true){
				-ms-animation: snowfall_back_second @snow_flake_back_timing infinite @snow_flake_back_easing;
				-ms-transition: @snow_flake_back_transition;
			}

			& when (@snow_o_prefixes = true){
				-o-animation: snowfall_back_second @snow_flake_back_timing infinite @snow_flake_back_easing;
				-o-transition: @snow_flake_back_transition;
			}
			
			animation: snowfall_back_second @snow_flake_back_timing infinite @snow_flake_back_easing;
			transition: @snow_flake_back_transition;
			z-index: @snow_flake_back_z-index;
		}
	}
}